body {
	font-family: Arial, Sans-serif;
	font-size: 12pt;
	line-height: 1.4;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin-top: 2em;
	color: #077bca;
}

section:not(:first-child) {
	border-top: 1px dashed #077bca;
}

code {
	color: #077bca;
}

aside {
	color: #077bca;
}

@media (min-width: 640px) {
    html {
        background-color: #eaf6ff;
    }
    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

.flexgrid {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.flexgrid li aside {
    width: 170px;
    margin: 10px;
    font-size: 0.8rem;
    box-sizing: border-box;
}

.stretchgrid {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.stretchgrid  li {
    box-sizing: border-box;
    width: 100%; 
    padding: 0;
}

.stretchgrid li aside {
    margin: 10px;
    padding: 20px;
    height: 100%;
  }

@media (min-width: 480px) {
    .stretchgrid li {
      width: 50%; 
    }
  }

  @media (max-width: 480px) {
    .stretchgrid li {
      width: 100%; 
    }
  }

@media (min-width: 640px) {
    .stretchgrid li {
      width: 25%; 
    }
  }